/**********GENERALI************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

 body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; 
    min-width:1200px ;
    color: black;
    
}

/************UTILIS*************/

.bg-color-blue{
    background-color: #0064ff;
    color: white;
    padding: 7px 15px;
}

.bg-color-azz{
    background-color: #B4D0E7;
    
}

.font-medium{
    font-size: 50px;
}

.font-small{
    font-size: 25px;
}


img{
    max-width: 100%;
}
.bolder{
    font-weight: bolder;
}

.color-gray{
    color: gray;
}



/*****DIMENSIONS*****/
.pt-100{
    padding-top: 100px;
}

.pr-50{
    padding-right: 50px;
}


.padd-list{
    padding-left: 30px;
    padding-top: 10px;
}


.mt-25{
    margin-top: 25px;
}
.mt-30{
    margin-top: 30px;
}


.mt-50{
    margin-top: 50px;
}

.mt-100{
    margin-top: 100px;
}

.mt-200{
    margin-top: 200px;
}

.mr-50{
    margin-right: 50px;
}


.col{
    float: left;
}

.col.w-30{
    width: 30%;
   
}
.col.w-33{
    width: calc(100% / 3);

   
    
}
.col.w-50{
    width: 50%;
    
}

.col.w-70{
    width: 70%;
    
}
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}
a{
    text-decoration: none;
    color: black;
   
  }
 .radio{
     display: inline-block;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     border:20px solid white;

 }
 i.fas{
     margin-right: 5px;
 }
 
/*************HEADER****************/


.top-bar{
    height: 80px;
    width: 100%;
    line-height: 80px;
    position: fixed;
    z-index: 1;
    background-color:white;
  
}

.container{
    max-width: 100%;

}

#nav-menu-left li ,
#nav-menu-rigth li{
    display: inline;
    list-style: none;
    margin: 50px;  
      
}

#logo{
    vertical-align: middle;

}



/*************NAV****************/

.container-small{
    width: 1500px;
    height: 1000px;
    margin: 0 auto;

}
.info-nav{
    font-family: 'Archivo Black', sans-serif;
}

.text-info{
    font-size: 100px;
}

#icons-arrow .fa-arrow-down{
   color: black;
   font-size: 50px;
   margin-top: 50px;
}

/*************MAIN****************/
.bord-color-list{
    border: 1px solid #DBDBDE;

}
.bord-color-list-botton{
    border-bottom: 1px solid #DBDBDE;

}
/*****************List*************/


.list-icon::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 5px;
}

li.list-icon{
    list-style: none;
    margin-bottom: 20px;
    padding-left: 1.2em;
    text-indent: -1.5em;
}

.col-list .text-center{
    padding:10px 15px ;
    
}

.list-icon.user::before{
    content: "\f406";
}

.list-icon.folder::before{
    content: "\f07b";
}

.list-icon.pencil::before{
    content: "\f303";
}

