/**********GENERALI************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
    
}

 body{
    font-family: 'Open Sans', sans-serif;
    min-width:1200px ;
  
}

/************UTILIS*************/


a:hover{
    text-decoration: underline;
  
} 
 h3 , h4 , h5{
     margin-top:20px;
 }

 .text-decor{
     text-decoration: underline;
 }
/************IMG*************/

img{
    max-width: 100%;

}

/*****COLOR*****/
.bg-color-blue{
    background-color: #0064ff;
    padding: 10px 15px;
    margin: 20px 40px;

}
.color-white{
    color: white;
}

.color-blue{
    color: blue;
}
.color-gray{
    color: gray;

}
.color-red-dark{
   color: #D5001F;
}
.color-brown{
   color: #61082B;
}

.bg-color-cielo{
    background-color:#0093CE;
}

.bg-color-red{
    background-color: #D21717;
}


.bg-color-yellow{
    background-color: #FFD830;
}

.bg-color-blue-dark{
    background-color: #0D2481;
}

.bg-color-cielo-1{
    background-color: #B4D0E7;
}

.bg-color-red-dark{
    background-color: #D5001F;
}

.bg-color-green{
    background-color: #A2D39B;
}

.bg-color-brown{
    background-color: #61082B;
}
.bg-color-azzurro{
    background-color: #B4D0E7;
    
}

.bg-color-gray-light{
    background-color: #F5F5F5;
    
}

/*****DIMENSIONS*****/


.mt-50{
    margin-top: 50px;

}

.mt-40{
    margin-top: 40px;

}

.mt-70{
    margin-top: 70px;

}
.mr-50{
    margin-right: 50px;
}

.mt-100{
    margin-top:100px;

}

.mb-150{
margin-bottom:150px ;

}

.mb-70{
    margin-bottom:70px ;
    
}
    
.mb-30{
    margin-bottom:30px ;
    
}
    

.ml-20{
    margin-left: 20px;

}

.ml-50{
    margin-left: 50px;

}

.w-7{
    width: 7%;
    
}
.w-15{
    width: 15%;
    
}
.w-20{
    width: 20%;
    
    
}
.w-50{
    width: 50%;
    
}
.w-80{
    width: 80%;
    
}

.w-section-900{
    width: 900px;
    margin: 0 auto;

}
/*****COLUMN*****/
.col{
    float: left;

}

.col.w-30{
    width: 30%;
    padding-right: 50px;
    
}

.col.w-20{
    width: 20%;
    margin-bottom: 100px;
    
}
.col.w-25{
    width: 25%;
    padding-right: 50px;
    
}
.col.w-40{
    width: 40%;
    float: right;
    padding-top: 20px;
    
}
.col.w-50{
    width: 50%;
    
 
}

.col.w-60{
    width: 60%;
    
}

.col.w-70{
    width: 70%;
    
}

.col.w-100{
    width: 100%;
    border: 1px solid #DBDBDE ;
  
}
.col.w-33.bord{
    width: calc((100% / 3) - 20px);
    border: 1px solid #DBDBDE ;
  
}
.h-col-33{
    height: 1150PX;

}
.col.w-33{
    width: calc((100% / 3) - 20px);
    
  
}
.col.w-33:nth-child(3n+2){
    margin: 0 30px;
}


.text-center{
    text-align: center;

}

.text-right{
    text-align: right;

}

/*************HEADER****************/

header{
    font-weight: 600;
    
}

.top-bar{
    height: 80px;
    width: 100%;
    line-height: 80px;
    position: fixed;
    z-index: 1;
    background-color:white;
    
}

.container{
    max-width: 100%;
    
}

#menu-left li ,
#menu-rigth li{
    display: inline;
    list-style: none;
    margin: 10px 20px; 
    
}

#logo{
    vertical-align: middle;
    
}

a{
    text-decoration: none;
    font-weight: 800;
    
}

/*************NAV****************/
nav.bg-color-azzurro{
    height: 900px;
}
i.fas{
    margin-right: 5px;
}


nav.color-azz{
    padding-top: 100px;
}


h1{
    font-size: 80px;
    font-weight: 800;
    font-style: normal;
    padding-top: 200px;
    
    
}

div > p{
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 50px;
    
    
}

div p.retreat{
    margin-top: 25px;
    margin-bottom: 50px;
}

#nav-content ,
.footer-logo-box{
    max-width: 1500px;
    margin: 0 auto;
    
}


#icons-arrow .fa-arrow-down{
    color: black;
    font-size: 50px;
    
}

/*************MAIN****************/

#main-content{
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: blueviolet; */
}

h2{
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    padding-top: 150px;
}

h2.col.w-50{
    padding-bottom: 150px ;
}
.option{
    display: inline;
    font-size: 20px;
    font-weight: 800;
    margin-right: 20px;
    
}
.radio.radio-select:active{
    border: 5px solid blue;
    
}

.radio{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border:2px solid #d0d0d3;
    vertical-align: middle;
    
    
}

/*************BTN-link****************/

a.btn{
    color: white;
    background-color: #0064ff;
    padding: 5px 10px;

}

a.btn.big-btn{
    color: white;
    background-color: #0064ff;
    padding:10px 50px;
    
   

}
/*****************List*************/

.text-center>i{
    padding: 20px 5PX 20PX 20PX;
    
}
.terminal{
    border-bottom: 1px solid #DBDBDE ;
    
}

.level {
    padding: 20px;
    text-indent: +1.2em;
      
}


h3{
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
  
}


li.list-icon::before{ 
    font-family: 'Font awesome 5 Free';
    margin-right: 5px;
  
}

ul li{

    list-style: none;
}

li.list-icon{
    text-indent: -1.5em;
    padding-left: 40px;  
    margin-bottom: 20px;
    
}
.buy{
    margin-left: 40px;
    margin-top: 30px;
    
}

a.color-blue{
    text-decoration: underline;

}



/*****************Icons-List*************/
.list-icon.check::before{
    content: "\f00c";
    color: blue;
    font-weight: 900
    
    
}


/**************** Icons-List/column1*************/
.list-icon.user::before{
    content: "\f007";
    
}



.list-icon.folder::before{
    content: "\f07b";
    
}

.list-icon.pencil::before{
    content: "\f303";
    font-weight: 900

}



/**************** Icons-List/column2*************/
.list-icon.user-plus::before{
    content: "\f234";
    font-weight: 900
    
}

.list-icon.smile::before{
    content: "\f118";
    
}



/**************** TEAM*************/
#entry >p{
    line-height: 27px;
    margin-top: 20px;

}

.btn-partner{
    border:1.5px solid black;
    padding:15px 20px;
    color: black;
}

#content > .col{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    
}

#content .logo-box{
    width: 50%;
    height: 50%;
    position: relative;
    
}
#content .logo-box img{
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}


section.bg-color-azzurro > div 
{
    width: 1500px;
    margin: 0 auto;

}
#logo-text {
    width: 40%;
    margin-left: 50px;
    margin-top: 40px;
}

#start-test{
    color: black;
    padding:10px 50px; 
    margin-top: 150px;
    background-color: white;
    float: right;

}

h4.difference{
    line-height:100px;
    margin-top: 0;
}

i.fa-chevron-down{
    margin: 20px;
}
.icon-right{
    float: right;
    

}
.questions.col{
    line-height: 100px;
    
}
main.clearfix{
    border-bottom: 1px solid gray;

}
section.w-900px{
    width:1200px;
    margin: 0 auto;
}

footer{
    background-color: black;
   

}

.footer-nav{
    width: 1800px;
    margin: 0 auto;
}

ul li a{
    color: white;   
    line-height: 30px;
    
}

 #line-footer {
    width: 10%;
    margin-bottom: 50px;
    background-color:white;
  }