*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.bg-color-blue{
    background-color: #0064ff;
    color: white;
}
header{
    background-color: white;
}

header .top-bar{
    height: 60px;
    line-height: 60px;
    
}


header .info-header{
    height: 500px;
   
}
.container{
    margin: 0 auto;
   
}

.col{
    float: left;
   

   
}

.col.w-50{
    width: 50%;
    
}

.text-right{
    text-align: right;
}

#logo{
    vertical-align: middle;
    
}

#nav-menu li {
    display: inline;
    list-style: none;
    
}


#nav-menu li a{
    text-decoration: none;
    margin: 10px;
}